{% extends "layouts/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Factura</h1>
    <div class="factura-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                    <th>IVA (16%)</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in productos_en_carrito %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.producto.precio }}$</td>
                    <td>{{ item.cantidad|multiply:item.producto.precio }}$</td>
                    <td>{{ item.cantidad|multiply:item.producto.precio|multiply:percent }}$</td>
                    <td>{{ item.cantidad|multiply:item.producto.precio|add:item.cantidad|multiply:item.producto.precio|multiply:percent }}$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="total">
            <h3>Subtotal: {{ subtotal }}$</h3>
            <h3>IVA (16%): {{ iva }}$</h3>
            <h3>Total a Pagar: {{ total_a_pagar }}$</h3>
        </div>
    </div>
</div>
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    .table {
        width: 100%;
        margin-bottom: 20px;
    }
    .total {
        text-align: right;
        margin-top: 20px;
    }
</style>
{% endblock content %}