#env
venv
core/venv

#caches
core/__pycache__
core/authentication/__pycache__
core/core/__pycache__/
authentication/__pycache__
authentication/migrations/
authentication/migrations/__pycache__
authentication/templatetags/__pycache__

#secret files
.env
secretito.py
tmp