{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card-general">
        <form method="POST" style="justify-items: center;">
            {% csrf_token %}
            <div>
                <h3>Eliminar Usuario</h3>
            </div>
            <hr>
            <div>
                <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ user.username }}</strong>?</p>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Contraseña: {{ form.password }}</label>
            </div>
            <div style="margin: 15px;">
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div>
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}