<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}
            <h3>Eliminar Usuario</h3>
            <hr>
            <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ user.username }}</strong>?</p>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>