{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container mt-5">
        <!-- Formulario de inicio de sesión -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">


            {% csrf_token %}  <!-- CSRF token para seguridad -->

            <!-- Encabezado del formulario de inicio de sesión -->
            <h3>Iniciar Sesión</h3>

            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <hr>

            <!-- Campo de entrada para el nombre de usuario -->
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de Usuario</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Nombre de Usuario" required>
            </div>

            <!-- Campo de entrada para la contraseña -->
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
            </div>

            <!-- Enlace a la página de registro -->
            <p>¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate</a> </p>

            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Iniciar sesion</button>
        </form>
    </div>

{% endblock content %}