{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <!-- Formulario de registro -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token para seguridad -->

            <!-- Encabezado del formulario de registro -->
            <h3>Registrar un usuario</h3>
            <hr>

            <!-- Mostrar mensajes de error/éxito -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" name="first_name" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingresa tu nombre" required>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Apellido</label>
                <input type="text" class="form-control" name="last_name" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingresa tu apellido" required>
            </div>


            <!-- Campo de entrada para el nombre de usuario -->
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de Usuario</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingresa tu nombre de usuario" required>
            </div>

            <!-- Campo de entrada para la contraseña -->
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                    placeholder="Ingresa tu contraseña" required>
            </div>

            <!-- Campo de entrada para confirmar la contraseña -->
            <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirmar Contraseña" required>
            </div>

            <!-- Enlace a la página de inicio de sesión para usuarios que ya tienen una cuenta -->
            <p>¿Ya tienes una cuenta? <a href="{% url 'signin' %}">Iniciar sesión</a> </p>

            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
{% endblock content %}