<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Formulario de Registro</title>
</head>
<body>
    <div class="container mt-5">
        <!-- Formulario de registro -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}  <!-- CSRF token para seguridad -->

            <!-- Encabezado del formulario de registro -->
            <h1 style="text-align: center;"><span style="color: red;">Desarrollo de Software</span></h1>
            <h3>Registrar</h3>
            <hr>

            <!-- Mostrar mensajes de error/éxito -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <!-- Campo de entrada para el primer nombre -->
            <div class="form-group">
                <label for="exampleInputEmail1">Primer Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Ingresa tu primer nombre" name="first_name" required>
            </div>

            <!-- Campo de entrada para el apellido -->
            <div class="form-group">
                <label for="exampleInputEmail1">Apellido</label>
                <input type="text" name="last_name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingresa tu apellido" required>
            </div>

            <!-- Campo de entrada para el nombre de usuario -->
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de Usuario</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingresa tu nombre de usuario" required>
            </div>

            <!-- Campo de entrada para la contraseña -->
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                    placeholder="Ingresa tu contraseña" required>
            </div>

            <!-- Enlace a la página de inicio de sesión para usuarios que ya tienen una cuenta -->
            <p>¿Ya tienes una cuenta? <a href="/login/">Iniciar sesión</a> </p>

            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>