body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Hacemos el body un flex container */
    flex-direction: column; /* Ordenamos los elementos de arriba hacia abajo */
    min-height: 100vh; /* Asegura que la altura del body sea al menos la altura de la viewport */
}

header {
    background-color: #696969;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 5vh;
}

.menu {
    position: relative;
}

nav {
    display: flex; /* Use flexbox for the nav */ /* Align items to the right */
    width: 100%; /* Ensure nav takes full width */
}

nav ul {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: left;
    text-align: center;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    align-content: center; /* Space between items */
}


nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Link color */
}

header nav ul li a.custom-login-link {
    color: yourColor; /* Replace with your desired color */
}

nav ul li a:hover {
    color: white;
    text-decoration: underline; /* Underline on hover */
}

header nav ul li a.custom-login-link {
    color: yourColor; /* Replace with your desired color */
}

nav ul li a:hover {
    color: white;
    text-decoration: underline; /* Underline on hover */
}

.logout-container {
    justify-content: right;
    margin-left: auto; /* Push the logout button to the right */
}

.card-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ancho del 80% */
    margin: 20px auto; /* Centrar la tarjeta y agregar margen superior e inferior */
    padding: 20px; /* Espaciado interno */
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.container {
    max-width: 50%;; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
}

footer {
    margin-top: auto;
    background-color: #444;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

/* boostrap buttons */
.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}
.btn-primary:hover {
    background-color: #0062cc;
}

.btn-secondary {
    background-color: #949ca2;
    color: white;
}
.btn-secondary:hover {
    background-color: #545b62;
}

.btn-success {
    background-color: #28a745;
    color: white;
}
.btn-success:hover {
    background-color: #208038;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;  
    color: black;
}
.btn-warning:hover {
    background-color: #d39e00;
}

.btn-info {
    background-color: #b7d5d4;
    color: white;
}
.btn-info:hover {
    background-color: #117a8b;
}

/* sort table or list */

th.sort-asc {
    background-image: url(/static/img/sort_up.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-desc {
    background-image: url(/static/img/sort_down.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-both {
    background-image: url(/static/img/sort_both.svg);
    background-repeat: no-repeat;
    background-position: center right;
}