{% extends "layouts/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <div class="card-carrito">
        <h2>Carrito de compras</h2>
        {% if productos_en_carrito %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos_en_carrito %}
                    <tr>
                        <td><img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}" class="img-thumbnail" style="width: 100px;"></td>
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.producto.precio }}$</td>
                        <td>{{ item.cantidad|multiply:item.producto.precio }}$</td>
                        <td>
                            <form action="{% url 'eliminar_del_carrito' item.producto.id %}" method="post" style="margin: 0;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'productos' %}" class="btn btn-primary">Seguir comprando</a>
                <a href="{% url 'facturacion' %}" class="btn btn-success">Finalizar compra</a>
            </div>
        {% else %}
            <p>El carrito está vacío.</p>
            <a href="{% url 'productos' %}" class="btn btn-primary">Ver productos</a>
        {% endif %}
    </div>
</div>
<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    .table {
        width: 100%;
        margin-bottom: 20px;
    }
    .img-thumbnail {
        max-width: 100px;
    }
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
</style>
{% endblock content %}